<!-- home section -->
<section class="py-8 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <nav class="flex-wrap lg:flex items-center justify-between mb-20 lg:mb-40" x-data="{navbarOpen:false}">
            <div class="flex items-center justify-between mb-10 lg:mb-0">
                <f:cObject typoscriptObjectPath="lib.logo" />
                <button class="flex items-center justify-center border border-green-500 w-10 h-10 text-green-500 rounded-md outline-none lg:hidden ml-auto" @click="navbarOpen = !navbarOpen">
                    <i data-feather="menu"></i>
                </button>
            </div>

            <ul class="hidden lg:block lg:flex flex-col lg:flex-row lg:items-center lg:space-x-20" :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <li class="{f:if(condition: mainnavigationItem.active, then:'active')} font-medium text-green-500 text-lg hover:text-green-300 transition ease-in-out duration-300 mb-5 lg:mb-0">
                        <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                            {mainnavigationItem.title}
                        </a>
                        <f:if condition="{mainnavigationItem.children}">
                            <ul>
                                <f:for each="{mainnavigationItem.children}" as="child">
                                    <li class="{f:if(condition: child.active, then:'active')}">
                                        <a href="{child.link}" target="{child.target}" title="{child.title}">
                                            {child.title}
                                        </a>
                                    </li>
                                </f:for>
                            </ul>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </nav>

        <header class="flex-col xl:flex-row flex justify-between">

            <div class="mx-auto text-center xl:text-left xl:mx-0 mb-20 xl:mb-0">
                <h1 class="font-bold text-gray-700 text-3xl md:text-6xl leading-tight mb-10">A digital <br> Product design <br> Agency</h1>

                <p class="font-normal text-gray-500 text-sm md:text-lg mb-10">We develop world class high quality product <br> designs.</p>

                <div class="flex items-center justify-center lg:justify-start">
                    <a href="#" class="px-8 py-3 bg-green-500 font-medium text-white text-md md:text-lg rounded-md hover:bg-green-700 transition ease-in-out duration-300 mr-14">Our story</a>

                    <a href="#" class="hidden lg:block font-normal text-gray-500 text-lg mr-8">Watch Showreel</a>

                    <a href="#" class="px-4 py-4 text-gray-300 border-2 border-gray-200 rounded-full">
                        <i data-feather="play"></i>
                    </a>
                </div>
            </div>

            <div class="mx-auto xl:mx-0">
                <img src="assets/image/home-img.svg" alt="Image">
            </div>

        </header>

    </div>
    <div class="container max-w-screen-xl mx-auto px-4">
        <f:render section="Main" />
    </div> <!-- container.// -->


</section>
<!-- home section //end -->


